<p class="subscriptions">
  <% @magazine.subscriptions.each do |subscription| %>
    <%= subscription.expires_on %>
  <% end %>
</p>

<p class="subscribers">
  <% @magazine.subscribers.each do |subscriber| %>
    <%= subscriber.name %>
  <% end %>
</p>