<p class="order-id">
  <%= @order.number %>
</p>

<p class="line-items">
  <% @order.line_items.each do |line| %>
    <%= line.description %>
  <% end %>
</p>

<p class="address">
  <%= @order.address.line1 %>
</p>